<div class="row">
    <h1>Mis Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 descripcion">
            <h3>Página Web Institucional</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere minima eos optio soluta nulla, modi quasi suscipit culpa, fuga, eveniet facilis nisi explicabo ea asperiores molestiae molestias inventore sunt temporibus.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-2 imagen">
            <a href="https://github.com/GabiDam/TecnicaN2.github.io.git" target="_blank"><img src="../../../assets/Proyecto1.png" class="img-fluid imagen-proyecto"></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 descripcion">
            <h3>Proyecto Argentina Programa</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere minima eos optio soluta nulla, modi quasi suscipit culpa, fuga, eveniet facilis nisi explicabo ea asperiores molestiae molestias inventore sunt temporibus.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-2 imagen">
            <a href="https://github.com/CaluuT/proyectoIntegrador_LucaTesta.git" target="_blank"><img src="../../../assets/Proyecto2.png" class="img-fluid imagen-proyecto"></a>
        </div>
    </div>
</div>