.row{
    padding: 15px;
    margin: 0px;
}

.container{
    min-width: 100%;
}

img{
    width: 100%;
}

div{
    background-color: #3b83bd;
    text-align: center;
}

/* Estilo fotoPerfil, Se redondea el marco de la imagen y se desplaza entre el banner y el body del lado izquierdo. Aplicado para pantallas mayores a 576px de ancho*/
@media (min-width: 576px){
    #fotoPerfil{
        width: 100%;
        border-radius: 100%;
        left: 3%;
    }
}
/**/

/*Para pantallas menores a 575px, se desplaza hacia el medio de la página*/
@media (max-width: 575px){
    #fotoPerfil{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        left: 39%;
        top: 275px;
    }
}
/**/

/* Fuentes aplicadas */
p{
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-family: 'Comfortaa';
}
/**/

/* Estilo del nombre */
#nombre{
    font-weight: bold;
    margin-top: 20%;
}
/**/