<div class="row">
    <h1>Formación Académica</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sequi officiis, sed neque rem ratione, minima fugiat culpa eius unde, facilis doloribus blanditiis. Soluta amet expedita iusto laudantium, obcaecati quos!</p>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta accusantium perferendis sequi, odio maiores iusto quod voluptate cupiditate impedit. Asperiores facere natus consequuntur sequi debitis. Consectetur nihil obcaecati labore sequi.</p>
        </ul>
    </div>
</div>
