<!--Sección de educación realizada, con lista no ordenada de items, contiene lugar, formación hecha y tiempo-->
<div class="row">
    <h1>Formación Académica</h1>
    <div class="col-lg-1">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">Agregar Educación</button>
    </div>

    <div class="col-lg-2"></div>
     <div class="col-lg-10">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h1>{{Educacion.nombreE}}</h1></td>
                    <td><h1>{{Educacion.descripcionE}}</h1></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil-square"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)"><i class="bi bi-trash"></i>Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
