.row{
    margin: 0px;
}

#logo{
    width: 150px;
}

img{
    width: 50px;
    padding: 5px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-width: medium;
    border-color: black;
}

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
}