<!--Sección de experiencia laboral, con lista no ordenada de items, contiene lugar, cargo, tiempo y descripción del trabajo-->
<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">Agregar Experiencia</button>
    </div>

    <div class="col-lg-2"></div>
     <div class="col-lg-10">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of experiencia">
                    <td><h1>{{Experiencia.nombreE}}</h1></td>
                    <td><h1>{{Experiencia.descripcionE}}</h1></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-trash"></i>Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>