<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [imageSrc]="'../assets/logos/angular-logo.png'"
            [imageHeight]="150"
            [imageWidth]="150"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [imageSrc]="'../assets/logos/sql-logo.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [imageSrc]="'../assets/logos/java-logo.png'"
            [imageHeight]="125"
            [imageWidth]="150"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [title]="'Trabajo en Equipo'"
            [titleColor]="'black'"
            [titleFontSize]="'16'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [title]="'Responsabilidad'"
            [titleColor]="'black'"
            [titleFontSize]="'16'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [title]="'Adaptabilidad'"
            [titleColor]="'black'"
            [titleFontSize]="'16'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
</div>