<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="col-lg-1">
        <button type="button" routerLink="/nuevaskill" class="btn btn-dark" *ngIf="isLogged">Agregar Skills</button>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let skills of skills">
        <circle-progress
            [percent]="(skills.porcentaje)"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [imageSrc]="''"
            [title]="(skills.nombre)"
            [imageHeight]="150"
            [imageWidth]="150"
            [showImage]="false"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>

        <td *ngIf="isLogged">
            <button class="btn btn-dark" routerLink="/editskill/{{skills.id}}"><i class="bi bi-pencil-square"></i>Editar</button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skills.id)"><i class="bi bi-trash"></i>Borrar</button>
        </td>
    </div>
</div>